<div>
    <form action="server.php" method="POST" enctype="multipart/form-data">
        <table class="menuTable">
            <tr>
                <td><label for="txtLegajo">Nombre: </label></td>
                <td><input type="text" name="txtLegajo" placeholder="Ingrese n° Legajo"></td>
            </tr>
            <tr>
                <td><label for="txtNombre">Nombre: </label></td>
                <td><input type="text" name="txtNombre" id="" placeholder="Ingrese Nombre"></td>
            </tr>
            <tr>
                <td><label for="txtDni">Nombre: </label></td>
                <td><input type="text" name="txtDni" id="" placeholder="Ingrese Dni"></td>
            </tr>
            <tr>
                <td><input type="file"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="CARGAR EMPLEADO"></td>
            </tr>
        </table>
    </form>
</div>
